<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GUEST-BOOK</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f519fae98b.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="/css/styles.css">

  
</head>
<body>
  <div class="bookcover">
    <div class="bookdot">
      <div class="page">
        <div class="left-container">
          <div class="left-visits">
            <p>TODAY <span style="color: red;">25</span> | TOTAL 191207</p>
          </div>
          <div class="left-box">
            <img class="profile-img" src="./images/profile.jpeg" alt="profile image" />
            <div class="profile">
              <p>
                너밖에 없어서<br>
                널 사랑한게 아니라<br>
                널 사랑하다보니 너밖에 없더라.<br>
                <br>
                귀여니 - 늑대의 유혹
              </p>
              <div class="profile-name">요닝 (♀)</div>
              <div class="dropdown">
                <select name="padotagi" class="padotagi">
                  <option value="none" selected disabled hidden>파도타기</option>
                  <option value="blog"><a href="#">블로그로 가기</a></option>
                  <option value="github"><a href="#">GitHub으로 가기</a></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="middle-container">
          <div class="middle-title">
            <div class="middle-desc">웃ㅈr, 네 ㅁiЧ홈㉬ㅣ 제목ぇㅓ럼.</div>
            <div class="middle-url">https://cyworld.com/yoni</div>
          </div>
          <div class="middle-box">
            <div class="guest-book-wrap">
              <div class="guest-container">
                <div class="guest-title">
                  <div class="no">No.</div>
                  <div class="number">57</div>
                  <div class="name">보미</div>
                  <i class="fa-solid fa-house-chimney"></i>
                  <div class="date">(2022.02.23 10:00)</div>
                </div>
                <div class="guest-wrap">
                  <div class="guest-photo" style="background-image: url('https://pbs.twimg.com/media/E1y3QZpVEAUu-Yb.png:small');"></div>
                  <div class="guest-desc">
                    갑자기 미안한데 나도 참다 참다 말하는건데
                    <br>저번에도 그러더니 진짜 실망이야 조금 너 이런식으로
                    <br>계속이면 나는 너에 대한 감정 쌓이고 쌓이고 쌓이면
                    <br>
                    <br>싸이먼도미닉
                  </div>
                </div>              
              </div>
              <div class="guest-container">
                <div class="guest-title">
                  <div class="no">No.</div>
                  <div class="number">56</div>
                  <div class="name">다미</div>
                  <i class="fa-solid fa-house-chimney"></i>
                  <div class="date">(2022.02.22 21:37)</div>
                </div>
                <div class="guest-wrap">
                  <div class="guest-photo" style="background-image: url('https://dispatch.cdnser.be/cms-content/uploads/2019/10/11/c053358c-0823-49f0-b525-5cd58ea76a6b.png');"></div>
                  <div class="guest-desc">
                    여진이 저녁즈음에 한강이 너무 예쁘다길래
                    <br>오 그쵸 예쁘죠 했더니 "역시 고구려 백제 신라가
                    <br>서로 손에 넣으려고 싸울만 했다"는 표현을 해서
                    <br>잠시 어떤 대답을 해야할지 당황하고 말았음..
                  </div>
                </div>              
              </div>
              <div class="guest-container">
                <div class="guest-title">
                  <div class="no">No.</div>
                  <div class="number">55</div>
                  <div class="name">우식</div>
                  <i class="fa-solid fa-house-chimney"></i>
                  <div class="date">(2022.02.18 05:26)</div>
                </div>
                <div class="guest-wrap">
                  <div class="guest-photo" style="background-image: url('https://mblogthumb-phinf.pstatic.net/MjAxODA0MTBfMjI2/MDAxNTIzMzY2MjI5Nzk0.xDtjpIX7dGFtPIY5sakKXpIF6295RrBbaF88VDSGyEEg.WRuXJKeZJNbiaNzyceStJLk7Imcn5fk3MpWZbn5g1wcg.JPEG.0ooz05/%EB%B9%84%EA%B3%B5%EA%B0%9C_%EC%95%84%EB%B0%94%ED%83%80.jpg?type=w800');"></div>
                  <div class="guest-desc">
                    우리집 강아지랑 산책을 쭐래쭐래 하고있는데
                    <br>한 꼬마아이가 와서는 "와~! 너 귀엽다! 몇살이야?"
                    <br>라길래 내가 대신 "열 두살이야" 라고 했더니 갑자기
                    <br>아이 얼굴이 어두워지면서 "형 미안해요"라고 했다.
                  </div>
                </div>              
              </div>
            </div>                         
          </div>
        </div>
        <div class="right-container">
          <div class="menu-wrap">
            <div onclick="location.href='./home.html'" class="menu">홈</div>
            <div onclick="location.href='./diary.html'" class="menu">다이어리</div>
            <div onclick="location.href='./photoBook.html'" class="menu">사진첩</div>
            <div onclick="location.href='./guestBook.html'" class="menu">방명록</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>